*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div-nav-h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(240, 248, 255, 0.212);
    height: 14vh;
    width: 100%;
    flex-wrap: wrap;
}
.div-h1{
    font-family: sans-serif;
    font-size: 35px;
    margin: 10px;
    text-transform: uppercase;
}
.div-nav-link{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 10px;
    width: 100vw;
    height: auto;
    font-weight: 500;
}